.calorie-card__name {
  font-size: 13px;
  font-weight: 400;
  color: #74798C;
}
.calorie-card__value {
  font-weight: 500;
}
.calorie-card__wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  padding: 20px;
  background-color: #FBFBFB;
}

.section__main {
  display: flex;
  height: inherit;
}

.copyright {
  transform: rotate(270deg);
  color: #ffffff;
  font-size: 12px;
  width: max-content;
}

.icon__wrapper {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.icons__wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.sidebar__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  padding: 20px;
  height: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: min-content;
}

.header__navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}
.header__navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}
.header__navbar a:hover {
  text-decoration: underline;
}
.header__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 20px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

body {
  margin: 0px;
}

#root {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
