.session-linechart {

   &__title {
      color: #fc8588;
   }

   &__wrapper {
      width: 33%;
      height: 25vh;
      background-color: #FF0000;
      padding: 20px;

      text.recharts-text.recharts-cartesian-axis-tick-value {
         fill: #fc8588;
      }
   }
 } 