.linechart-tooltip {

   &__text {
      font-size: 12px;
      font-weight: 500;
   }

   &__wrapper {
      background-color: #ffffff;
      padding: 1px 10px;
   }
}

.session-linechart {

   &__title {
      color: #fc8588;
      position: absolute;
      top: 20px;
      left: 20px;
      width: 200px;
   }

   &__wrapper {
      min-width: 235px;
      background-color: #FF0000;
      border-radius: 5px;
      position: relative;

      text.recharts-text.recharts-cartesian-axis-tick-value {
         fill: #fc8588;
      }

      .recharts-wrapper {
         max-height: 200px;

         .recharts-surface {
               transform: scaleX(1.1) scaleY(0.75) translateY(35px);

               .recharts-xAxis.xAxis {
                  transform: scale(0.9) translate(12px, 30px);
               }
         }   
      }
   }
 } 