.calorie-card {
    &__name {
        font-size: 13px;
        font-weight: 400;
        color: #74798C;
    }

    &__value {
        font-weight: 500;
    }

    &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 20px;
        padding: 20px;
        background-color: #FBFBFB;
    }
}