text.recharts-text.recharts-polar-angle-axis-tick-value {
    fill: #ffffff;

    tspan {
        font-size: 12px;
    }
}

.recharts-polar-grid-angle line {
    display: none;
}

.skills-radarchart {
    &__wrapper {
        width: 250px;
        height: 250px;
        background-color: #282D30;
        border-radius: 5px;
    }
}