aside {
   max-width: 100px;
}

main {
   width: fit-content;
   padding: 0 4em;
}

.dashboard {
   &__wrapper {
      display: flex;
      flex-flow: column nowrap;
      gap: 50px;
   }
}

.dynamic-metrics {
   &__2nd-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 20px;
   }

   &__wrapper {
      display: flex;
      flex-flow: column nowrap;
      gap: 60px;
      width: 100%;
   }
}

.h1 {

   &--custom {
      font-size: 48px;
      margin: 35px 0 15px;
   }

   &__firstname {
      font-size: 48px;
      color: #FF0101;
   }
}

.loading-state {
   padding: 40px 20px;
}

.metrics {
   &__wrapper {
      display: flex;
      flex-flow: row nowrap;
      gap: 20px;
      justify-content: space-between;
      width: 75vw;
   }
}

.section {
   &__main {
    display: flex;
    height: inherit;
   } 
}

.static-metrics {
   &__wrapper {
      width: auto;
      display: flex;
      flex-flow: column wrap;
      gap: 30px;
   }
}