main {
   width: 100%;
   padding: 0 3em;
}

.dashboard {
   &__wrapper {
      display: flex;
      flex-flow: column nowrap;
      gap: 50px;
   }
}

.h1 {

   &--custom {
      font-size: 48px;
   }

   &__firstname {
      font-size: 48px;
      color: #FF0101;
   }
}

.loading-state {
   padding: 40px 20px;
}

.metrics {
   &__wrapper {
      display: flex;
      flex-flow: row nowrap;
      gap: 20px;
      justify-content: space-between;
   }
}

.dynamic-metrics {
   &__row2 {
      display: flex;
      flex-flow: row nowrap;
      gap: 20px;
      max-height: 200px;
   }

   &__wrapper {
      display: flex;
      flex-flow: column nowrap;
      gap: 20px;
      width: 100%;
   }
}

.section {
   &__main {
    display: flex;
    height: inherit;
   } 
}