.recharts-wrapper.piechart--wrapper {
    transform: rotate(270deg);
}

.score-piechart {
    &__message {
        font-size: 15px;
        color: #777777;
    }

    &__message-wrapper {
        position: absolute;
        width: 50%;
        top: 40%;
        left: 26%;
        text-align: center;
    }

    &__percentage {
        font-weight: 500;
        font-size: 22px;
    }

    &__title {
        position: absolute;
        font-size: 15px;
        font-weight: 500;
        padding: 20px 0 0 20px;
    }

    &__wrapper {
        position: relative;
        width: 240px;
        height: 240px;
        background-color: #FBFBFB;
        border-radius: 5px;
    }
}