.copyright {
    transform: rotate(270deg);
    color: #ffffff;
    font-size: 12px;
}

.icon {
    &__wrapper {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 10px;
    }
}

.icons {
    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
    }
}

.sidebar {
    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        padding: 20px;
        height: 100%;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: min-content;
    }
}